# Flutter
.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
.packages
.pub-cache/
build/

# Android
.gradle/
.idea/
*.iml

# APK files
*.apk
*.aab

# Node
node_modules/

# Environment
.env
.env.*

# Logs
*.log
